<!--<div style="position:relative; top:1000px;width:500px; height:500px; border-top:5px red solid;border-bottom:5px red solid;border-left:5px red solid;border-right:5px red solid;">我是红框</div>-->
<!--<div style="position:relative; top:1000px;width:500px; height:500px; border-top:5px green solid;border-bottom:5px green solid;border-left:5px green solid;border-right:5px green solid;">我是红框</div>-->

<body>
<div class="div">
  <nav>
    <li>Home</li>
    <li>Taco Menu</li>
    <li>Draft List</li>
    <li>Hours</li>
  </nav>
  <div class="column">
    <section class="section1">

      section的margin-left样式确保了有足够的空间。
    </section>
    <section class="section2">
      section的margin-left样式确保了有足够的空间。section的margin-left样式确保了有足够的空间。section的margin-left样式确保了有足够。section的margin-left样式确保了有足够的空间。section的margin-left样式确保了有足够的空间。section的margin-left样式确保了有足够的空间。

    </section><section class="section3">section的margin-left样式确保了有足够的空间。</section>
  </div>
</div>
</body>
<footer>


</footer>
